<div class="container">
    <div class="sous-container">
        <div class="search-container">
            <div>
                <input type="text" name="" placeholder="Search" id="" class="form-control" [(ngModel)]="searchText">
            </div>
        </div>
        <div class="table-container">
            <div class="table">
                <!-- {{profs | json}} -->
                <table class="table table-hover hover">
                    <thead>
                        <tr>
                            <th>Cours</th>
                            <th>Prof</th>
                            <th>Durée</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of inscriptions" [class.valider]="p.passer">
                            <td>
                                <p>{{p.prof}}</p>
                            </td>
                            <td>
                                <p>{{p.cour}}</p>
                            </td>
                            <td>
                                <p>{{p.durre}}</p>
                            </td>

                            <td> <button *ngIf="!p.passer" (click)="p.passer=!p.passer" class="btn btn-success"
                                    type="button" title="delete"><span class="fa fa-check"></span>Demander</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>